<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#">
      <span class="badge pull-right">4</span>
      Home
    </a>
    <a href="#">Inbox <span class="badge">42</span></a>



  </li>
  ...




</ul>