<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src=    <%= image_tag("Koala.jpg", :alt => "rss feed") %>
    
    </a>
  </div>
  
</div>